.container
{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
    background-color: black;
    color: yellow;
}
.search
{
    background: none;
    color: yellow;
    padding: 5px;
    border: 2px solid yellow;
    border-radius: 5px;
}
fa-icon
{
    padding: 10px;
}